<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- materialize -->
    <link rel="stylesheet" href="../../node_modules/materialize-css/dist/css/materialize.min.css">
    <script type="text/javascript" src="../../node_modules/materialize-css/dist/js/materialize.min.js"></script>

    <!-- Google Icon Font -->
    <link  rel="stylesheet" href="../../node_modules/material-design-icons/iconfont/material-icons.css">

    <!-- font awsome -->
    <link href="../assets/fontawesome-free-5.11.1-web/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/clientes.css">
    <meta charset="UTF-8">
    <title>Notinhas</title>
</head>
<body>
    <div class="header align-items-center mt-0 teal darken-4 backgroun-hearder">
        <h2 class="center-align white-text ">Clientes</h2>
    </div>

    <div class="container mt-4">
        <div class="row">
            <ul id="swipe" class="tabs">
                <li class="tab col s3"><a href="#swipe-search">Pesquisar</a></li>
                <li class="tab col s3"><a  href="#swipe-add">Adicionar</a></li>
            </ul>
        </div>
        <div class="row">
            <div id="swipe-search">
                <div class="input-field col s10">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search-input" class="autocomplete" placeholder="Digite o nome ou o CPF do cliente" >
                    <label for="search-input" id="label-search">Pesquisar cliente</label>
                    <div id="load-products" class="progress hide">
                        <div class="indeterminate"></div>
                    </div>
                </div>
                <div id="clients" class="col s10">

                </div>
            </div>
            <div id="swipe-add">
                <form id="form-create">
                    <div class="row">
                        <div class="input-field col s12 m7 ">
                            <i class="material-icons prefix">format_color_text</i>
                            <input id="name" type="text" required>
                            <label for="name">Nome <span class="red-text">*</span></label>
                            <span class="helper-text">Digite o nome completo do cliente</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m7 ">
                            <i class="far fa-id-card prefix"></i>
                            <input id="cpf" type="text" required>
                            <label for="cpf">CPF <span class="red-text">*</span></label>
                            <span class="helper-text">Digite o CPF do cliente</span>
                        </div>
                    </div> 
                    <div >
                        <div class="input-field col s12 m7 ">
                            <i class="far fa-calendar-alt prefix"></i>
                            <input id="birth" type="text" class="datepicker" required>
                            <label for="birth">Data de nascimento <span class="red-text">*</span></label>
                            <span class="helper-text">Selecione a data de nascimento do cliente</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m7 ">
                            <i class="material-icons prefix">phone_iphone</i>
                            <input id="phone" type="text">
                            <label for="phone">Número de telefone</label>
                            <span class="helper-text">Digite o número de telefone do cliente</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l4">
                            <i class="material-icons prefix">home</i>
                            <input id="address-bairro" type="text">
                            <label for="address-bairro">Bairro</label>
                            <span class="helper-text">Digite o bairro que o cliente mora</span>
                        </div>
                        <div class="input-field col s12 m12 l4">
                            <input id="address-rua" type="text">
                            <label for="address-rua">Rua</label>
                            <span class="helper-text">Digite o nome da rua que o cliente mora</span>
                        </div>
                        <div class="input-field col s12 m12 l4">
                            <input id="address-numero" type="text">
                            <label for="address-numero">Número</label>
                            <span class="helper-text">Digite o número de telefone do cliente</span>
                        </div>
                        <div class="input-field col s12 m12 l4">
                            <input id="address-cep" type="text">
                            <label for="address-cep">CEP</label>
                            <span class="helper-text">Digite o CEPF de telefone do cliente</span>
                        </div>
                        <div class="input-field col s12 m12 l4">
                            <input id="address-complemento" type="text">
                            <label for="address-complemento">Complemento</label>
                            <span class="helper-text">Digite algum ponto de referência</span>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light ml-5" type="submit" name="action">salvar
                            <i class="material-icons right">done</i>
                        </button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
    <!-- end container -->
    <div class="modal modal-edit">
        <div class="modal-content">
            <h4 id="modal-header"></h4>
            <div class="content mt-3 row">
              
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="waves-effect waves-green btn-flat edit-datas">Editar</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat notinhas">Notinhas</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
    </div>
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/clientes.js"></script>
</body>
</html>