<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- materialize -->
    <link rel="stylesheet" href="../css/materialize/css/materialize.min.css">
    <script type="text/javascript" src="../css/materialize/js/materialize.min.js"></script>
  
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/clientes.css">
    <meta charset="UTF-8">
    <title>Notinhas</title>
</head>
<body>
    <div class="header align-items-center mt-0 teal darken-4 backgroun-hearder">
        <h2 class="center-align white-text ">Clientes</h2>
    </div>

  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/clientes.js"></script>
</body>
</html>