<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- materialize -->
  <link rel="stylesheet" href="../../node_modules/materialize-css/dist/css/materialize.min.css">
  <script type="text/javascript" src="../../node_modules/materialize-css/dist/js/materialize.min.js"></script>

  <!-- Google Icon Font -->
  <link  rel="stylesheet" href="../../node_modules/material-design-icons/iconfont/material-icons.css">
  
  <link rel="stylesheet" href="../css/main.css">
  <meta charset="UTF-8">
  <title>Comércio </title>
</head>

<body>
    
  <div class="header align-items-center mt-0 teal darken-4">
    <h2 class="center-align white-text ">Bem Vindo(a)!</h2>
  </div>

  <div class="container mt-5">
    <div class="row">

      <div class="card  medium hoverable  col s5">
        <div class="card-image">
          <img src="../assets/imgs/produtos.jpg">
          <span class="card-title">Produtos</span>
        </div>
        <div class="card-content black-text">
          <p>Pesquisar e visualizar detalhes de produtos já adicionados, criar um novo produto, editar e excluir produto já existente.</p>
        </div>
        <div class="card-action">
          <a href="produtos.html" class="blue-text d-block">Produtos</a>
        </div>
      </div>
      
      <div class="col s1">&ThinSpace;</div> <!--espcao em branco  -->
       
      <div class="card medium hoverable col s5">
        <div class="card-image">
          <img src="../assets/imgs/carrinho.png">
          <span class="card-title">Venda</span>
        </div>
        <div class="card-content">
          <p>Executar venda dos produtos do supermercado de forma automática.</p>
        </div>
        <div class="card-action">
          <a href="vendas.html" class="blue-text d-block">Vendas</a>
        </div>
      </div>

      <div class="col s12">&ThinSpace;</div> <!--linha de espacamento em branco  -->

      <div class="card medium hoverable col s5">
        <div class="card-image">
          <img src="../assets/imgs/meeting.jpg">
          <span class="card-title">Clientes</span>
        </div>
        <div class="card-content">
          <p>Ver dados dos clientes, suas notinhas, adicionar um novo cliente e editar e excluir um cliente já existente.</p>
        </div>
        <div class="card-action">
          <a href="clientes.html" class="blue-text d-block">Clientes</a>
        </div>
      </div>

      <div class="col s1">&ThinSpace;</div> <!--espcao em branco  -->

      <div class="card medium hoverable col s5">
          <div class="card-image">
            <img src="../assets/imgs/nota-fiscal.jpg">
            <span class="card-title">Notinhas</span>
          </div>
          <div class="card-content">
            <p>Ver as notinhas já emitidas.</p>
          </div>
          <div class="card-action">
            <a href="notinha.html" class="blue-text d-block">Notinhas</a>
          </div>
        </div>
    </div>
  </div>

  <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>