<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Imprimir Notinha</title>
    <link rel="stylesheet" href="../css/print.css">
</head>

<body>
    <div id="notinha">
        <div class="border-bottom">
            <h3 align="center">Comércio Santa Clara</h3>
            <p align="center" style="font-size: 7px;">CNPJ: 123456789</p>
        </div>
        <h4 align="center" class="center bold">CUPOM N° <span class="id-cupom"></span> </h4>
        <p align="center" class="bold center border-bottom"> ** cupom não fiscal **</p>
        <p align="right">Data: <span class="date"></span> </p>

        <table id="products" class="mt-3">
            <thead>
                <tr class="border-bottom bold">
                    <th align="left">PRODUTO</th>
                    <th align="center">QTD</th>
                    <th align="right">PREÇO R$</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <table>
            <tr>
                <td>
                    <h4>Total R$:</h4>
                </td>
                <td align="right">
                    <h4 class="total"></h4>
                </td>
            </tr>
        </table>
        <p align="center" class="center">Obrigado, volte sempre !</p>
    </div>
    <script src="../js/imprimirNotinha.js"></script>
</body>

</html>