<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- materialize -->
    <link rel="stylesheet" href="../css/materialize/css/materialize.min.css">
    <script type="text/javascript" src="../css/materialize/js/materialize.min.js"></script>
  
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/produtos.css">
    <meta charset="UTF-8">
    <title>Produtos</title>
</head>
<body>
    <div class="header align-items-center mt-0 teal darken-4 backgroun-hearder">
        <h2 class="center-align white-text ">Produtos</h2>
    </div>

    <div class="container mt-5">
        <ul id="tabs-swipe-demo" class="tabs" style="position: sticky !important; top:0px;">
            <li class="tab col s3"><a href="#test-swipe-search">Pesquisar</a></li>
            <li class="tab col s3"><a  href="#test-swipe-add">Adicionar</a></li>
        </ul>
        <!-- search -->
        <div id="test-swipe-search" class="col s12 mt-3">
            
            <div class="row">
                <div class="input-field col s11">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search-input" class="autocomplete" disabled >
                    <label for="search-input" id="label-search">Carregando produtos..</label>
                </div>
            </div>
            
            <!-- render list of products -->
            <div id="list-products">
                
            </div>
        </div>
        <!-- add new product -->
        <div id="test-swipe-add" class="col s12 mt-3">
            <form>
                <div class="row">
                    <div class="input-field col s7">
                        <i class="material-icons prefix">format_color_text</i>
                        <input id="name" type="text" class="validate">
                        <label for="name">Nome</label>
                        <span class="helper-text" data-error="Nome inválido!" data-success="Ok!">Digite o nome do produto</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s7">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="price" type="text" class="validate">
                        <label for="price">Preço</label>
                        <span class="helper-text" data-error="Preço inválido!" data-success="Ok!">Digite o preço do produto</span>
                    </div>
                </div> 
                <div class="row">
                    <div class="input-field col s7">
                        <i class="material-icons prefix" style="transform: rotate(90deg);">format_align_justify</i>
                        <input id="bar-code" type="text" class="validate">
                        <label for="bar-code">Código de Barras</label>
                        <span class="helper-text" data-error="Código inválido!" data-success="Ok!">Digite o código de barras do produto</span>
                    </div>
                </div>
                <div class="row">
                    <p class="col s12">
                        <label>
                            <input id="combo" type="checkbox"  checked/>
                            <span>É promoção?</span>
                        </label>
                    </p>
                </div>

                <div id="combo-div" class="row" hidden>
                    <div id="combo-products-list">
                        
                    </div>
                    <a id="combo-add-product" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>

                <div class="row">
                    <button class="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>


    <div id="edit-product" class="modal">
        <div class="modal-content">
            <form>
                <div class="row">
                    <div class="input-field col s7">
                        <i class="material-icons prefix">format_color_text</i>
                        <input id="name-edit" type="text" class="validate">
                        <label for="name-edit">Nome</label>
                        <span class="helper-text" data-error="Nome inválido!" data-success="Ok!">Digite o nome do produto</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s7">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="price-edit" type="text" class="validate">
                        <label for="price-edit">Preço</label>
                        <span class="helper-text" data-error="Preço inválido!" data-success="Ok!">Digite o preço do produto</span>
                    </div>
                </div> 
                <div class="row">
                    <div class="input-field col s7">
                        <i class="material-icons prefix" style="transform: rotate(90deg);">format_align_justify</i>
                        <input id="bar-code-edit" type="text" class="validate">
                        <label for="bar-code-edit">Código de Barras</label>
                        <span class="helper-text" data-error="Código inválido!" data-success="Ok!">Digite o código de barras do produto</span>
                    </div>
                </div>
                <div class="row">
                    <p class="col s12">
                        <label>
                            <input id="combo-edit" type="checkbox"  checked/>
                            <span>É promoção?</span>
                        </label>
                    </p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/produtos.js"></script>
</body>
</html>