<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- materialize -->
    <link rel="stylesheet" href="../css/materialize/css/materialize.min.css">
    <script type="text/javascript" src="../css/materialize/js/materialize.min.js"></script>
    
    <!-- font awsome -->
    <link href="../assets/fontawesome-free-5.11.1-web/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/venda.css">
    <meta charset="UTF-8">
    <title>Vendas</title>
</head>
<body>
    <div class="header align-items-center mt-0 teal darken-4 backgroun-hearder">
        <h2 class="center-align white-text ">Vendas</h2>
    </div>

    <div class="container mt-5">
        <div class="row">
            <form class="col s12">
                <div class="input-field col s5">
                    <i class="material-icons prefix rotate-90 align-bottom">format_align_justify</i>
                    <input id="barCode" type="text" class="validate">
                    <label for="barCode">Código de barras do produto</label>
                </div>

                <div class="input-field col s2">
                    <i class="material-icons prefix align-bottom">exposure_plus_1</i>
                    <input id="quantity" type="text" class="validate" value="1">
                    <label for="quantity">Quantidade</label>
                </div>

                <div class="mt-3 red">
                    <button id="addProduct" 
                            class="waves-effect waves-light btn light-blue darken-1 col s1 ml-4 tooltipped" 
                            type="button" 
                            data-position="bottom" data-tooltip="Adicionar produto a lista de compras">
                        <i class="samll material-icons">add_shopping_cart</i> <span class="align-top ">Add</span>
                    </button>

                    <button id="finalizar" 
                            class="waves-effect waves-light btn green darken-4 col s2 ml-4 tooltipped" 
                            type="button" 
                            data-position="bottom" data-tooltip="Salvar e imprimir lista de compras">

                            Finalizar compra
                    </button>
                </div>
                
                <div class="col s12 center m-3"><h5>TOTAL: <span id="total">R$ 0,00</span></h5></div>
                <table class="striped centered ">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Preço unidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <!-- table of products rendered here -->
                    </tbody>
                  </table>
            </form>
        </div>

        </div>
    </div>
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/vendas.js"></script>
</body>
</html>