<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- materialize -->
    <link rel="stylesheet" href="../css/materialize/css/materialize.min.css">
    <script type="text/javascript" src="../css/materialize/js/materialize.min.js"></script>
    
    <!-- font awsome -->
    <link href="../assets/fontawesome-free-5.11.1-web/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/venda.css">
    <link rel="stylesheet" media="print" href="../css/print.css">
    <meta charset="UTF-8">
    <title>Vendas</title>
</head>
<body>
    <div class="header align-items-center mt-0 teal darken-4 backgroun-hearder no-print">
        <h2 class="center-align white-text ">Vendas</h2>
    </div>

    <div class="container mt-5 no-print">
        <div class="row">
            <form class="col s12">
                <div class="input-field col s5">
                    <i class="material-icons prefix rotate-90 align-bottom">format_align_justify</i>
                    <input id="barCode" type="text" class="validate">
                    <label for="barCode">Código de barras do produto</label>
                </div>

                <div class="input-field col s2">
                    <input id="quantity" type="number" min="1" step="1" class="validate" value="1">
                    <label for="quantity">Quantidade</label>
                </div>

                <div class="mt-3 red">
                    <button id="addProduct" 
                            class="waves-effect waves-light btn light-blue darken-1 col s1 ml-4 tooltipped no-print"
                            type="button" 
                            data-position="bottom" data-tooltip="Adicionar produto a lista de compras">
                        <i class="samll material-icons">add_shopping_cart</i> <span class="align-top ">Add</span>
                    </button>

                    <button id="endShopping" 
                            class="waves-effect waves-light btn green darken-4 col s3 ml-4 tooltipped no-print" 
                            type="button" 
                            data-position="bottom" data-tooltip="Salvar e imprimir lista de compras">
                            Finalizar compra
                    </button>
                </div>
                
                <div class="col s12 center m-3"><h5>TOTAL: <span id="total">R$ 0,00</span></h5></div>
                <table class="striped centered ">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Preço unidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <!-- table of products rendered here -->
                    </tbody>
                  </table>
            </form>
        </div>

        <!-- Modal descount -->
        <div id="modal-descount" class="modal mt-5 no-print">
            <div class="modal-content">
                <div id="bar-code-for-descount" hidden></div>
                <h4>Desconto no produto <span id="product-descount-name"></span></h4>

                <ul class="collapsible popout mt-4">
                    <li class="active">
                        <div class="collapsible-header"><i class="fas fa-percent font-size-1"></i>Porcentagem</div>
                        <div class="collapsible-body">
                            <input placeholder="exemplo: 50 %" id="descount-product-percent" type="number" min="0" max="100">    
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">attach_money</i>Dinheiro</div>
                        <div class="collapsible-body">
                            <input placeholder="exemplo: R$ 0,50" id="descount-product-money" type="number" min="0" step="0.01">    
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat save">Adicionar</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            </div>
        </div>
    </div>

    <div id="notinha">
        <p class="center">CUPOM</p>
        <h6 class="center border-bottom pb-1">Comércio Santa Clara</h6>
        <h5 class="center bold">CUPOM N° <span class="id-cupom">132</span> </h5>
        <p class="bold center border-bottom"> ** cupom não fiscal **</p>
        <p>Data: <span class="text-right d-block date">26/09/2000 12:26</span> </p>
        
        <table class="mt-3">
            <thead>
                <tr class="border-bottom bold">
                    <th>PRODUTO</th>
                    <th class="text-center">QTD</th>
                    <th class="text-right">PREÇO R$</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <h6 class="bold">Total R$: <span class="d-block text-right total"> 123</span></h6>
        <p class="center">Obrigado, volte sempre !</p>
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/vendas.js"></script>
</body>
</html>