body {
    font-size: 12px;
}

.mt {
    margin-top: 4px;
}

.no-print {
    display: none !important;
}

#notinha * {
    font-family: sans-serif !important;
}

#notinha {
    color: black;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#products tbody {
    font-size: 8px !important;
}

.border-bottom {
    border-bottom: 1px dashed black !important;
}

.material-tooltip {
    display: none !important;
}