.backgroun-hearder {
    background-image: url("http://www.jornaldaparaiba.com.br/app/uploads/2019/01/CESTA-B%C3%81SICA-_CAMPINA.jpeg");
    background-size: 100%;
}

#toast-container {
    top: auto !important;
    right: 13px;
    bottom: 10%;
    left: auto !important;  
}

#notinha {
    display: none;
}

#notinha * {
    font-size: 8px !important;
}

#notinha h6 {
    font-size: 16px !important;
}

#notinha h6 * {
    font-size: 16px !important;
}

#notinha h6 span {
    float: right;
}

#notinha h5 {
    font-size: 14px !important;
}

#notinha h5 span {
    font-size: 14px !important;
}